
# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# storybook
/src/stories

# others
# /code-stages
/scripts

.eslintrc.json
.prettierrc
.storybook/
lint-staged.config.js
next.config.ts
package-lock.json
package.json
README.md
tsconfig.json
/public