@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --primary: oklch(0.64 0.0682 223.15);
  --primary-accent: oklch(0.29 0.0656 238.47);
  --secondary: oklch(0.55 0.1317 317.93);
  --secondary-accent: oklch(0.75 0.0817 345.53);
  --background: oklch(0.88 0 0);
  --foreground: oklch(0.96 0 0);

}

.dark {
  --primary: oklch(0.36 0.0682 223.15);
  --primary-accent: oklch(0.71 0.0656 238.47);
  --secondary: oklch(0.45 0.1317 317.93);
  --secondary-accent: oklch(0.25 0.0817 345.53);
  --background: oklch(0.12 0 0);
  --foreground: oklch(0.04 0 0);

}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-primary: var(--primary);
  --color-primary-accent: var(--primary-accent);
  --color-secondary: var(--secondary);
  --color-secondary-accent: var(--secondary-accent);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  body {
    @apply bg-background text-foreground font-['Roboto'];
  }
}
